*{
	margin: 0;
	padding: 0;
}

.first-area{
	flex:1;
	display: flex;
	width: 100%;
	height: 60px;
	background: pink;
	list-style: none;
	font-size: 60%;
	
}

.first-child{
	flex-grow: 1;
	line-height: 60px;
	text-align: center;
	position: relative;
}

.first-child span{
	cursor: pointer;
}

.first-child ul{
	display: flex;
	display: none;
	list-style: none;
	opacity: 0.8;
	position: absolute;
	z-index: 1000;
	width:100%;
	
}

.first-area li:hover ul{
	
	display: block;
}

.first-child ul li{
	
	color: white;
	background:pink;
	flex-grow:1;
}

.first-child ul li a{
	cursor: pointer;
	display: block;
	flex-grow: 1;
	text-decoration: none;
	color: white;
	
}

.first-child ul li a:hover 
{
	color:#E21B3B;
}


.first-showtitle{
	font-family: "微软雅黑";
	font-weight: 1200;
	font-size:23px;
	font-size-adjust: inherit;
	
	color:white;
}


.first-showtitle:hover{
	
	color:#E21B3B;
}


.first-area li:hover{
	background:cyan;
}

.second-area{
	display: flex;
	width: 100%;
	height: 800px;
}

.second-area-item1
{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	flex:1;
	background: #FEDCDA;
	
}
.second-area-photo{
	margin-top: 20%;

	width: 120px;
	height: 120px;
	border-radius:100px;
	border: 1px solid red;
	
}
.second-area-photo img{
	width:100%;
	height: 100%;
	border-radius:100%;
}


.second-area-text{
	height: 35%;
	width: 100%;
	
}

.second-area-item2
{
	flex:3;
}

.second-area-text span{
	font-family: "宋体";
	font-weight: 700;
	color:#575757;
}
.second-area-text p{
	height: 12%;
	width: 100%;
	color:	#80FF00;
	font-family:"宋体";
	font-weight: 900;
	
}

.second-area-text p:hover{
	background: #8A2BE2;
}
.second-area-item2-photo{
	border:5px solid #575757;
	position: relative;
	height:250px;
	width:100%;
	overflow: hidden;
}
.second-area-item2-photo{
	border:5px solid #575757;
	position: relative;
	height:250px;
	width:100%;
	overflow: hidden;
	
}

.second-area-item2-photo:hover #wrap-leftButton {
	opacity: 1;
}
.second-area-item2-photo:hover #wrap-rightButton{
	opacity: 1;
}
#second-item2-wrap{
	position: absolute;
	left:0;
	height:100%;
	width: 300%;
	display: flex;
	transition: left 0.6s ease-in;
	
}

.second-item2-wrap-child{
	flex:1;
}

.child-photo{
	margin-left: 10%;
	margin-top: 7%;
	width:80%;
	height:70%;
	border:1px solid #00FFFF;
	overflow: hidden;
	opacity:1;

}
.child-photo img{
    width:100%;
    height: 100%;
   
	cursor: pointer;
	transition: all 2s;
	
}
.child-photo :hover{
	transform: scale(1.3);

}
.child-text a{
	text-decoration: none;
}

.child-text a:hover{
	color: #09B1B9;
}
.child-text{
	height:15%;
	width:80%;
	margin-left: 10%;
	margin-top: 1%;
	border:1px solid #00FFFF;
}
.second-area-item2-head{
		
    background:url(../img/9e4d43eb51a771ec32116854ce9bd4e9.png) ;
	height: 300px;
	width: 100%;
	position: relative;
}

.left-button{
	position: absolute;
	top:0;
	left:0;
	height: 250px;
	width: 30px;
	line-height: 250px;
	
}

#wrap-leftButton{
	cursor: pointer;
    background: none;
	border:none;
	outline:none;
	
	opacity: 0.2;
	
}
.right-button{
	position: absolute;
	right:5px;
	top:0;
	width:30px;
	height: 250px;
	line-height: 250px;
}
#wrap-rightButton{
	position: absolute;
	line-height: 250px;
	right:0;
	cursor: pointer;
    background: none;
	border:none;
	outline:none;
	opacity: 0.5;
	 
}
#second-area-item2-p{
    margin-top: 10%;
	position: absolute;
    left:0;	
	color: blueviolet;
	font-size: 23px;
	font-weight: 800;
	font-family: "宋体";
	transition:left 0.6s ease-in;
	
}


#counts{
margin-top: 10%;
	position: absolute;
	font-family: "宋体";
	color: blueviolet;
	font-size: 20px;
	font-weight: 800;
	right:0;
	transition:right 0.6s ease-in;
}
