*{
	padding: 0;
	margin: 0;
}
.wrap{
	position:relative;
	width:900px;
	height: 1200px;	
	position:relative;
}
#wrap-middle{
	position: absolute;
	left:0;
	width: 8px;
	height: 0px;
	transition:all 5s;
}
.wrap:hover #wrap-middle{
	height: 1800px;
	background: #FC9D9A;
	transition:height 5s;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.timeTitle{
	font-size: 3rem;
	color: pink;
	position:absolute;
	right:20%;
	font-weight: 700;
}

.wrap-list{
	position:relative;
	position:absolute;
	list-style: none;
	top:100px;
	list-style: none;
	position:absolute;
	left: -6px;
	width:20px;
	height: 20px;
	border-radius: 20px;
	background-color: #FFFD99;
	cursor: pointer;
	transition-duration: 0.8s;
		
}

.wrap-showList{
	background-color: #F9CDAD!important;
	transition-duration: 0.8s;	
}

.wrap h1{
	
	right:20%;
	color: deeppink;
}

.wrap-content{
	position: absolute;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	margin-top: -175%;
	margin-left:160%;
	width:900px;
	height: 100px;
	background:#FFFD99;
	cursor:auto;
	opacity: 0.1;
	transition-duration: 0.5s;
}

.wrap-showContent{
	transition-duration: 0.5s;
	opacity: 1!important;
	background:pink;
	
}

.wrap-showTriangle{
	transition-duration: 0.5s;
	opacity: 1!important;
	border-right-color:pink!important;
}

.triangle{
	transition-duration: 0.5s;
	opacity: 0.7;
	position:absolute;
	top:35%;
	left:-10px;
	width: 0px;
	height: 0px;
	outline: none;
	border: 10px solid white;
	border-left: 0;
	border-right-color:#FFFD99;
}

.wrap-text{
	font-size: 1.9rem;
	color:white;
	font-family: "宋体";
}

.time{
	position:absolute;
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	width:100px;
	height: 48px;
    background:#F9CDAD;
    left:-110px;
	top:-15px;
	transition-duration: 2s;
	opacity: 0;
	text-align: center;
	font-family: "宋体";
}



.time span{
	font-size: 1.8rem;
	color: sandybrown;
	font-weight: 800;
}

.show-time{
	opacity: 1!important;	
}
